.accounts-list {
    height: 100%;

    h2 {
        color: #81c8c2;
        margin: 0;
        padding: 26.5px 0;
    }

    hr {
        border: solid 1px #81c8c2;
    }

    .search {
        position: relative;
        width: 45%;
        display: flex;
        justify-content: center;

        .select-search {
            display: flex;
            align-items: center ;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 25%;
            margin-left: 1px;

            .ant-select {
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0 !important;

                .ant-select-selector {
                    height: 50px;
                    border-radius: 9px 0 0 9px;

                }

                .ant-select-selector {
                    border: none;
                    border-right: solid 1px #dadada;
                }

                .ant-select-arrow {
                    svg {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        input {
            width: 100%;
            height: 40px;
            border: none;
            border: solid 1px #dadada;
            border-radius: 9px;
            margin: 15px 0;
            outline: none;
            padding: 5px 10px 5px 125px;
        }

        .icon-search {
            position: absolute;
            bottom: 20%;
            right: 0;
            height: 50px;
            padding: 0 10px;
            border-radius: 0 9px 9px 0;
            color: #81c8c2;
        }
    }

    .add-account {
        margin-bottom: 15px;

        .btn__add-account {
            border: solid 2px #56ee4e;
            border-radius: 5px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            column-gap: 10px;

            svg {
                font-size: 1.2rem;
                color: #56ee4e;
            }

            span {
                color: #56ee4e;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .btn__add-account:hover {
            border: solid 2px #fff;
            background: #56ee4e;

            svg, span {
                color: #fff;
            }
        }
    }

    .table-account {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 9px;

        table {
            background: #e8e8e8;

            tr:hover {
                td {
                    background: #dadada !important;
                }
            }

            .ant-space-item {
                display: flex;
                align-items: center;

                svg {
                    font-size: 1.2rem;
                    padding: 5px;
                    border-radius: 5px;
                }

                .ic-update {
                    background: #fff;
                    color: #6f62e1;
                    border: solid 2px #6f62e1;
                }

                .ic-update:hover {
                    background: #6f62e1;
                    color: #fff;
                }

                .ic-delete {
                    background: #fff;
                    color: #ff6565;
                    border:  solid 2px #ff6565;
                }

                .ic-delete:hover {
                    background: #ff6565;
                    color: #fff;
                }

                .ic-changepass {
                    background: #fff;
                    color: #faad14;
                    border:  solid 2px #faad14;
                }

                .ic-changepass:hover {
                    background: #faad14;
                    color: #fff;
                }

            }
        }
    }
}
