.sales-chart {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    h2 {
        color: #81c8c2;
        margin: 0;
        padding: 26.5px 0;
    }

    hr {
        border: solid 1px #81c8c2;
        width: 100%;
    }

    .date {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        column-gap: 40px;
        width: 100%;

        .ant-picker {
            width: 25%;
            height: 40px;
        }
    }

    .chart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 50%;
        padding: 40px 0 80px 0;
        row-gap: 40px;
        height: 250px;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 40px #81c8c2;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 15px;
            font-weight: 800;
        }
    }

    
}