@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=IBM+Plex+Sans:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:wght@300;400;500;700&display=swap');

.payment {
    padding: 50px 110px;

    h2 {
        font-size: 38px;
        font-weight: 500;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .top {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 50px;

            .info-payment {
                padding: 40px;
                height: 100%;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                .fullname, .phone, .email, .address {
                    width: 100%;
                    height: 90px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    h4 {
                        font-size: 14px;
                        margin: 0;

                        span {
                            color: #ff6c6c;
                        }
                    }

                    input, .ant-select-selector {
                        box-sizing: border-box;
                        height: 40px;
                        width: 100%;
                        outline: none;
                        border-radius: 9px;
                        border: solid 1px #dadada;
                        padding: 10px;
                        font-family: 'Montserrat', sans-serif;
                    }

                    p {
                        color: #ff6c6c;
                        font-size: 12.5px;
                    }
                }

                .description {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;

                    h4 {
                        font-size: 14px;
                        margin: 0;

                        span {
                            color: #ff6c6c;
                        }
                    }

                    textarea {
                        box-sizing: border-box;
                        height: 150px;
                        width: 100%;
                        outline: none;
                        border-radius: 9px;
                        border: solid 1px #dadada;
                        padding: 10px;
                    }
                }
            }

            .info-cart {
                width: 100%;
                padding: 10px 40px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                display: flex;
                flex-direction: column;
                row-gap: 25px;

                .title-order {
                    text-align: center;
                    font-size: 26px;
                    font-weight: 600;
                }
                
                table {
                    font-family: 'Montserrat', sans-serif;

                    .info {
                        display: flex;
                        column-gap: 25px;
                        align-items: center;

                        img {
                            width: 100px;
                        }

                        .text {
                            display: flex;
                            column-gap: 10px;

                            p {
                                font-weight: 500;
                            }
                        }

                    }
                }

                .transport-fee {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    p {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                hr {
                    border: solid 1px #ececec;
                    width: 100%;
                    margin: 0;
                }

                .total-price {
                    
                    h3 {
                        text-align: center;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            } 
        }

        .payment-mothod {
            font-size: 14.5px;
            font-weight: 500;

            .ant-radio-group {
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                .ant-radio-wrapper {
                    border: solid 1px #dadada;
                    padding: 0px 5px;
                    font-family: 'Montserrat', sans-serif;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 35px;

                    span {
                        display: flex;
                        align-items: center;
                        column-gap: 10px;

                        img {
                            width: 25px;
                            margin-left: 5px;
                            padding: 2.5px 0;
                            // background: #fff;
                        }
                    }

                }

                .ant-radio-wrapper-checked {
                    background: #81c8c2;
                    color: #fff
                };
            }
        }

        .btn-payment {
            display: flex;
            justify-content: center;
            padding: 15px 0 35px 0;
            
            button {
                border: solid 2px #81c8c2;
                background: #fff;
                padding: 15px 30px;
                color: #81c8c2;
                border-radius: 9px;
            }

            button:hover {
                color: #fff;
                background: #81c8c2;
            }
        }
    }
}
