.order-process {
    h2 {
        color: #81c8c2;
        margin: 0;
        padding: 19px 0;
    }
    
    hr {
        border: solid 1px #81c8c2;
    }

    .search {
        position: relative;
        width: 45%;
        display: flex;
        justify-content: center;

        input {
            width: 100%;
            height: 40px;
            border: none;
            border: solid 1px #dadada;
            border-radius: 9px;
            margin: 15px 0;
            outline: none;
            padding: 5px 10px;
        }

        svg {
            position: absolute;
            bottom: 20%;
            right: 0;
            height: 50px;
            padding: 0 10px;
            border-radius: 0 9px 9px 0;
            color: #81c8c2;
        }
    }

    table {
        background: #e8e8e8;
        font-size: 12.5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


        .ant-space {
            display: flex;
            flex-direction: column;
        }

        .status {
            width: 65px;
            // font-weight: 500;
        }

        .successfully {
            color: #52c41a;
        }

        .cancel {
            color: #ff4d4f;
        }

        .info {
            display: flex;
            column-gap: 10px;
            margin: 10px 0;
            align-items: flex-start;
            width: 165px;
    
            .text {
                font-size: 12.5px;
                // font-weight: 500;
            }
        }

        // span {
        //     font-weight: 500;
        // }

        .client {
            width: 125px;
        }

        .price {
            width: 100px;
        }

        .time {
            width: 65px;
        }

        .payment-method {
            width: 85px;
        }

        .btn-confirm {
            color: #4096ff;
            background: #fff;
            padding: 10px 5px;
            border-radius: 9px;
            border: solid 1px #4096ff;
            font-size: 12px;
            width: 100px;
        }

        .btn-transport {
            color: #4096ff;
            background: #fff;
            padding: 10px 5px;
            border-radius: 9px;
            border: solid 1px #4096ff;
            font-size: 12px;
            width: 100px;
        }

        .btn-successful {
            color: #4096ff;
            background: #fff;
            padding: 10px 5px;
            border-radius: 9px;
            border: solid 1px #4096ff;
            font-size: 12px;
            width: 100px;
        }

        .btn-confirm, .btn-transport, .btn-successful {
            &:hover {
                color: #fff;
                background: #4096ff;
            }
        }

        .btn-cancel {
            color: #ff4d4f;
            background: #fff;
            padding: 10px 5px;
            border-radius: 9px;
            border: solid 1px #ff4d4f;
            font-size: 12px;
            width: 100px;
        }
        
        .btn-cancel:hover {
            color: #fff;
            background: #ff4d4f;
        }

        .btn-print {
           display: flex;
           font-size: 1.65rem;
           width: 100px;
           padding: 5px 0;
           border: solid 1px #81c8c2;
           border-radius: 9px;
           color: #81c8c2;
        }

        .btn-print:hover {
            color: #fff;
            background: #81c8c2;
        }

        .ant-table-placeholder {
            font-size: 16px;
            font-weight: 700;
        }
    }
}

