.dropdown-custom {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #f6f5f5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    right: 10px;
    top: 85px;
    width: 155px;
    border-radius: 6px; 

    .task {
        display: flex;
        align-items: center;
        padding: 8.5px 15px;
        column-gap: 10px;
        border-radius: 6px;
        cursor: pointer;


        svg {
            font-size: 1.2rem;
            color: #000;
        }

        span {
            font-size: 14px;
            font-weight: 500;
        }
    }

    .task:hover {
        background: #81c8c2;
        color: #fff;

        svg {
            color: #fff;
        }
        
    }
}

.modal-changepass-admin {

    .ant-modal-content {
        background: #f6f5f5;
    }

    .ant-modal-title {
        font-size: 1.4rem;
        font-weight: 600;
        color: #81c8c2;
        background: #f6f5f5;
        margin-bottom: 20px;

    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 100%;
        box-sizing: border-box;

        .acc {
            display: flex;
            flex-direction: column;
            height: 90px;

            h4 {
                margin: 0;
                font-size: 15px;
                font-weight: 500;
                padding: 10px 0;
            }

            input {
                height: 50px;
                border-radius: 9px;
                border: solid 1px #dadada;
                padding: 10px 20px;
            }

            
            p, span {
                color: #ff6c6c;
                font-size: 12.5px;
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            padding: 20px 0;

            button {
                width: 25%;
                padding: 15px 0;
                border-radius: 9px;
                background: #000;
                color: #fff;
            }
    
            button:hover {
                background: #81c8c2;
            }
        }
    }
}