.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        color: #81c8c2;
        margin: 0;
        padding: 13.5px 0;
    }

    hr {
        border: solid 1px #81c8c2;
        width: 100%;
    }

    .dashboard-container {
        width: 100%;

        .total-analys {
            display: flex;
            justify-content: space-between;
            padding: 40px;
            box-sizing: border-box;
            width: 100%;
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
            .total-product, .total-user {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 5px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                padding: 25px 125px;
                // width: 100%;
    
                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // background: #81c8c2;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    color: #898989;
                    height: 50px;
                    width: 150px;
                    border-radius: 9px;
                    font-size: 12.5px;
                }
            }
    
    
            // canvas {
            //     font-size: 2.5rem;
            // }
        }
    }

}