$color-main1: #bfe8e3;
$color-main2: #81c8c2;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=IBM+Plex+Sans:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

.admin-account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: $color-main2;
    border-radius: 9px;
    column-gap: 25px;
    padding: 10px;
    // width: 100%;
      
    .notification {
        display: flex;
        position: relative;
        // padding: 0 5px;
        cursor: pointer;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ff6c6c;
            color: #fff;
            position: absolute;
            font-size: 10px;
            left: 17px;
            bottom: 12.5px;
            border-radius: 50%;
            width: 14px;
            height: 14px;
        }
    }

    svg {
        font-size: 1.5rem;
        color: #fff;
    }

    img {
        width: 42.5px;
        height: 42.5px;
        border-radius: 50%;
        cursor: pointer;
    }

}


.ant-popover {
    inset: 67px auto auto 1183px !important;
    cursor: pointer;

    .notification-title {
        color: #ff6c6c;
    }

    .notification-content {
        font-size: 12.5px;
    }

    .notification-content:hover {
        color: #81c8c2;
    }
}
  


