.products-list {
    height: 100%;

    h2 {
        color: #81c8c2;
        margin: 0;
        padding: 19px 0;
    }

    hr {
        border: solid 1px #81c8c2;
    }

    .search {
        position: relative;
        width: 45%;
        display: flex;
        justify-content: center;

        input {
            width: 100%;
            height: 40px;
            border: none;
            border: solid 1px #dadada;
            border-radius: 9px;
            margin: 15px 0;
            outline: none;
            padding: 5px 10px;
        }

        svg {
            position: absolute;
            bottom: 20%;
            right: 0;
            height: 50px;
            padding: 0 10px;
            border-radius: 0 9px 9px 0;
            color: #81c8c2;
        }
    }

    .add-product {
        margin-bottom: 15px;

        .btn__add-product {
            border: solid 2px #56ee4e;
            border-radius: 5px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            column-gap: 10px;

            svg {
                font-size: 1.2rem;
                color: #56ee4e;
            }

            span {
                color: #56ee4e;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .btn__add-product:hover {
            border: solid 2px #fff;
            background: #56ee4e;

            svg, span {
                color: #fff;
            }
        }
    }

    .table-product {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 9px;

        table {
            background: #e8e8e8;

            tr:hover {
                td {
                    background: #dadada !important;
                }
            }

            .img-detail {
                padding: 2px;
                width: 40px;
                height: 40px;
            }

            .ic-update {
                font-size: 1.2rem;
                padding: 5px;
                border-radius: 5px;
                background: #fff;
                color: #6f62e1;
                border: solid 2px #6f62e1;
            }

            .ic-update:hover {
                background: #6f62e1;
                color: #fff;
            }

        }
    }
}