.modal-product {
    .ant-modal-content {
        background: #f6f5f5;
    }

    .ant-modal-title {
        font-size: 1.4rem;
        font-weight: 600;
        color: #81c8c2;
        background: #f6f5f5;
        margin-bottom: 20px;

    }
    
    form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .form-container{
            display: flex;
            flex-direction: column;

            .top {
                display: flex;
                column-gap: 40px;
                align-items: flex-start;

                .left, .center, .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
    
                    .name, .category, .supplier, .material, .shape,
                    .price-old, .price-new, .quantity, .color, 
                    .status, .thumb {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100px;
            
                        h4 {
                            font-size: 15px;
                            font-weight: 500;
                            margin: 0;
                            padding: 10px 0;
                        }
            
                        input {
                            border: solid 1px #dadada;
                            background: #fff;
                            outline: none;
                            border-radius: 9px;
                            padding: 0;
                            padding: 10px;
                            height: 20px;
                        }
    
                        .ant-select-selector {
                            height: 40px;
                        }
    
                        p {
                            color: #ff6c6c;
                            font-size: 12.5px;
                        }
                    }
    
                    .thumb {
                        .upload-file {
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            svg {
                                border: solid 1px #dadada;
                                border-radius: 9px;
                                font-size: 2.35rem;
                                padding: 50px;
                                color: #999999;
                            }
    
                            img {
                                border: solid 1px #dadada;
                                border-radius: 9px;
                                height: 139px;
                                width: 139px;
                                object-fit: cover;
                            }
                        }
                    }
            
                }
            }

                
            .description {
                display: flex;
                flex-direction: column;
                height: 200px;

                h4 {
                    font-size: 15px;
                    font-weight: 500;
                    margin: 0;
                    padding: 10px 0;
                }
            
                textarea {
                    padding: 10px;
                    height: 100%;
                    border: solid 1px #dadada;
                    outline: none;
                    background: #fff;
                    border-radius: 9px;
                }
                
            }
        }
        
        .btn {
            display: flex;
            justify-content: flex-end;

            button {
                border: solid 1px #1778ff;
                border-radius: 5px;
                height: 40px;
                width: 15%;
                padding: 10px 0;
                color: #1778ff;
            }
    
            button:hover {
                background: #1778ff;
                color: #fff;
            }
        }
    }
}                

.ant-select-selector {
    padding: 0 20px !important;
    .ant-select-selection-placeholder {
        display: flex;
        align-items: center;
    
    }

    .ant-select-selection-item {
        display: flex;
        align-items: center;
        justify-content: space-between; 

        p {
            color: #81c8c2 !important;
        }
    }
}

.ant-select-item-option {
    border-radius: 9px !important;
    padding: 7.5px 15px !important;
}

.ant-select-item-option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-select-dropdown {
    border-radius: 9px !important;
}



