.children-glasses {
    // .title-eyeglass__frames {

    // }

    .all-children__glasses {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        align-items: flex-start;

        .sort-children__glasses {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
        }

        .children__glasses-by-pagination {
            display: flex;
            flex-direction: column;
        }
    }

}

