.product-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    h2 {
        color: #81c8c2;
        margin: 0;
        padding: 26.5px 0;
    }

    hr {
        // padding: 20px 0 40px 0;
        border: solid 1px #81c8c2;
        width: 100%;
        // margin: 20px 0;
    }

    .date {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        column-gap: 40px;
        width: 100%;

        .ant-picker {
            width: 25%;
            height: 40px;
        }
    }

    .ant-table {
        border-radius: 9px;

        table {
            width: 100%;

            p {
                font-weight: 500;
            }
        }
    }
}

// .ant-table-wrapper {
//     width: 100%;
//     padding: 20px;
// }

