.product-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h2 {
        color: #81c8c2;
        margin: 0;
        width: 100%;
        padding: 19px 0;
    }

    hr {
        // padding: 20px 0 40px 0;
        border: solid 1px #81c8c2;
        width: 100%;
        // margin: 20px 0;
    }

    .date {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        column-gap: 40px;
        width: 100%;

        .ant-picker {
            width: 25%;
            height: 40px;
        }
    }

    .export-excel {
        width: 100%;
        display: flex;
        justify-content: end;

        .exportButton {
            padding: 0;

            .btn-excel {
                font-size: 1.5rem;
                padding: 7.5px;
                border: solid 1px #81c8c2;
                color: #81c8c2;
                border-radius: 9px;
            }

            .btn-excel:hover {
                color: #fff;
                background: #81c8c2;
            }
        }
    }

    .ant-table-wrapper {
        width: 100%;
        padding: 20px 0;
    
        table {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            // p {
            //     font-weight: 500;
            // }
        }
    } 
}


