.product-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h2 {
        color: #81c8c2;
        margin: 0;
        width: 100%;
        padding: 19px 0;
    }

    hr {
        // padding: 20px 0 40px 0;
        border: solid 1px #81c8c2;
        width: 100%;
        // margin: 20px 0;
    }

    .date {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        column-gap: 40px;
        width: 100%;

        .ant-picker {
            width: 25%;
            height: 40px;
        }
    }

   .export-excel {
        width: 100%;
        display: flex;
        justify-content: end;

        .btn-excel {
                padding: 10px;
                border: solid 1px #999999;
                color: #999999;
                border-radius: 9px;  
                font-size: 1.25rem;
        }

        .btn-excel:hover {
            color: #fff;
            background: #81c8c2;
            border: solid 1px #81c8c2;
        }
   }

    .ant-table-wrapper {
        width: 100%;
        padding: 20px 0;
    
        table {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .ant-table-placeholder {
                font-size: 20px;
                font-weight: 500;
            }
        }
    } 
}


// Trong file SCSS của bạn
.ant-picker {
    border: solid 1px #dadada !important; // Tắt border
    box-shadow: none !important; // Tắt đổ bóng
  
    &.ant-picker-focused {
        border: solid 1px #dadada !important;
    }
}


