.carousels {
    
    .element-carousel {

        p {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            background-color: #000;
            color: #fff;
            font-size: 14px;
            margin: 0;
        }
    }
}