.container {
    margin-bottom: 50px;

    .backtotop {
        font-size: 2rem;
        position: fixed;
        right: 1px;
        bottom: 4rem;
        color: #919191;
        cursor: pointer;
        border-radius: 50%;
        background: #81c8c2;
        color: #fff;
        padding: 5px;
    }
}