.order-checking {
    padding: 50px 110px;

    h1 {
        font-size: 35px;
        font-weight: 700;
    }

    table {
        font-size: 12.5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // margin-top: 50px;

        .info {
            display: flex;
            column-gap: 10px;
            margin: 10px 0;
            // border-top: solid 1px;
            // border-bottom: solid 1px;
    
            img {
                width: 60px;
                height: 60px;
            }
    
            .text {
                font-size: 12.5px;
                font-weight: 500;
            }
        }
    
    
        .status-container {
            display: flex;
            // flex-direction: column;
            // row-gap: 20px;
            justify-content: space-between;
            align-items: center;

            .status {
                font-weight: 500;
            }

            .btn-cancel {
                color: #ff4d4f;
                background: #fff;
                padding: 10px 5px;
                border-radius: 9px;
                border: solid 1px #ff4d4f;
                font-size: 12px;
            }
            
            .btn-cancel:hover {
                color: #fff;
                background: #ff4d4f;
                border-radius: 9px;
            }
            
            .cancelled {
                display: none;
            }
        }
    }
}


