.order-checking {
    padding: 50px 110px;

    h1 {
        font-size: 35px;
        font-weight: 700;
    }

    table {
        font-size: 12.5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        // margin-top: 50px;

        .ant-table-placeholder {
            font-size: 15px;
            font-weight: 500;
        }

        .info {
            display: flex;
            column-gap: 10px;
            margin: 10px 0;
            width: 225px;
            // border-top: solid 1px;
            // border-bottom: solid 1px;
    
            img {
                width: 60px;
                height: 60px;
            }
    
            .text {
                font-size: 12.5px;
                // font-weight: 500;
            }
        }
    
        .price {
            width: 90px;
        }

        .payment-method {
            width: 160px;
        }

        .status-time {
            width: 115px;
        }

        .status {
            font-weight: 500;
        }

        .action-container {
            display: flex;

            .btn-cancel {
                color: #ff4d4f;
                background: #fff;
                padding: 10px 2.5px;
                border-radius: 9px;
                border: solid 1px #ff4d4f;
                font-size: 12px;
                width: 60px;
            }
            
            .btn-cancel:hover {
                color: #fff;
                background: #ff4d4f;
                border-radius: 9px;
            }
            
            .cancelled, .repurchase {
                display: none;
            }
    
            .btn-buy {
                color: #81c8c2;
                background: #fff;
                padding: 10px 5px;
                border-radius: 9px;
                border: solid 1px #81c8c2;
                font-size: 12px;
                width: 60px;
            }
    
            .btn-buy:hover {
                color: #fff;
                background: #81c8c2;
                border-radius: 9px;
            }
        }

       
        
    }

}


.ant-modal-content {
    .ant-modal-header {
        .ant-modal-title {
            text-align: center;
            padding-bottom: 20px;
        }
    }
    .ant-modal-body {
        .modal-content {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .modal-element {
                display: flex;
                column-gap: 15px;

                img {
                    width: 60px;
                }

                .element-content {
                    display: flex;
                    flex-direction: column;

                    p {
                        font-size: 12.5px;
                        font-weight: 500;
                    }

                    .status {
                        display: none;
                    }
                }
            }

            .note {
                font-size: 12.5px;
                font-weight: 500;

                span {
                    color: #ff4d4f;
                }
            }
        }
    }

    .ant-modal-footer {
        .btn-oke {
            padding: 12.5px 20px;
            background: #000;
            color: #fff;
            border-radius: 9px;
        }
        .btn-oke:hover {
            background: #81c8c2;
        }
    }
}

  




