.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 50px 0 0 0;

    .ant-pagination-item {
        a {
            font-weight: 500;
        }
    }

    .ant-pagination-item-active {
        border: none;
    }
    
    .ant-pagination-item-active a {
        background: #fff !important;
        color: #81c8c2 !important;
        border: solid 2px #81c8c2;
        border-radius: 10px;
    }
}


