.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: 100vh;
    background-color: #f6f5f5;
    overflow-y: auto;
    max-height: 100vh;
    width: 290px;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: fixed;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #81c8c2;
        padding-top: 20px;
        width: 290px;

        h2 {
            margin: 0;
            color: #fff;
            padding: 20px 0;
        }

        a {
            img {
                cursor: pointer;
                border: solid 2px #fff;
                width: 85px;
                height: 85px;
            }
        }
    }

    .sidebar-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        row-gap: 20px;

        .dashboard, .nav__element {
            display: flex;
            align-items: center;
            column-gap: 20px;
            padding: 5px 20px;

            svg {
                color: #81c8c2;
                font-size: 1.5rem;
            }

    
            span {
                width: 100%;
                color: #515151;
                font-size: 14px;
                font-weight: 500;
            }
        }  
    
        .dropdown {
            display: flex;
            align-items: center;
            column-gap: 20px;
            cursor: pointer;
            padding: 5px 20px;

            .ic {
                font-size: 2.3rem;
                color: #81c8c2;
            }
    
            h3 {
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 20px;
                color: #81c8c2;
                font-size: 15px;
                font-weight: 600;
                margin: 0;
    
                .ic-down, .ic-up {
                    font-size: 0.85rem;
                    color: #81c8c2;
                }
            }
        }
    
        .elements {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 10px 0 10px 50px; 

            .active {
                background: #81c8c2;
                border-radius: 9px;

                svg, span {
                    color: #fff;
                }
            }
        }

        .dropdown:hover {
            background: #81c8c2;
            border-radius: 9px;

            .ic, h3 {
                color: #fff;
            }

            .ic-down, .ic-up {
                color: #fff;
            }
            
        }

        .nav__element:hover {
            background: #81c8c2;
            border-radius: 9px;

            svg, span {
                color: #fff;
            }
        }
    }

}

.sidebar::-webkit-scrollbar {
    width: 4px; /* Độ rộng của thanh cuộn */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #81c8c2; /* Màu nền của thanh cuộn */
}

.sidebar::-webkit-scrollbar-track {
    background-color: #ccc; /* Màu nền của vùng thanh cuộn */
}
