.hidden-for-print {
    display: none;

    .invoice {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        padding: 35px;
        font-size: 16.5px;


       .title-invoice {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0 50px 0;
            position: relative;

            .logo-invoice {
                width: 95px;
                height: 95px;
                position: absolute;
            }

            h2 {
                margin: 0;
                width: 100%;
                text-align: center;
                color: #81c8c2;
            }
       }

       .hr1 {
            border: solid 1px #81c8c2;
            width: 100%;
            margin-bottom: 20px;
       }

        .order-details {
            display: flex;
            flex-direction: column;

            .info-product-order {
                display: flex;
                align-items: center;
                column-gap: 20px;
                padding: 10px 0;
                margin: 10px 0;

                img {
                    width: 100px;
                    height: 100px;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                }
            }
        }

        .hr2 {
            border: solid 1px #81c8c2;
            width: 100%;
        }

        .price-qr {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-between;
            // align-items: center;

            h4 {
                margin: 0;
                padding: 10px;
            }
        }

        .position {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h3, p {
                text-align: center;
                width: 30%;
                margin: 0;
            }
        
        }
    }
}
  
@media print {
    .hidden-for-print {
        display: block;
    }
}